.decorated-text {
  font-family: 'pKalam';
  background: linear-gradient(45deg, #958189 0%, #30cfd0 50%, #f3abb6 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none !important;
}
